<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://">
        <img src="assets/logo.png" alt="Logo" class="brand-logo" />
        <span class="title">ระบบตรวจสอบสถานะการมีชีวิตของสมาชิกสภาการพยาบาล</span>
      </a>
    </div>
    <div class="header-nav">
      <!-- <a href="javascript://" class="nav-link nav-icon" aria-label="cloud service">
        <cds-icon shape="cloud"></cds-icon>
      </a>
      <a href="javascript://" class="active nav-link nav-icon" aria-label="storage service">
        <cds-icon shape="folder"></cds-icon>
      </a> -->
    </div>
    <div class="header-actions">
      <a (click)="logout()" class="nav-link nav-text">Log Out</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" cds-layout="m-t:md">
      <router-outlet />
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/home" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">หน้าหลัก</a>
      <a clrVerticalNavLink routerLink="/history" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">ประวัติ</a>
      <a clrVerticalNavLink routerLink="/logs" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Logs</a>
      <a clrVerticalNavLink routerLink="/setting" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">ตั้งค่า</a>
      <a clrVerticalNavLink routerLink="/user" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">จัดการผู้ใช้</a>
    </clr-vertical-nav>
  </div>
</div>
